body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0e7c28;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    min-height: 80vh;
}

/* Menú lateral */
.sidebar {
    width: 200px;
    background-color: #1ab66d;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #0e1615;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Contenido principal */
.content {
    flex: 1;
    padding: 20px;
}
